body {
  /*background-color: #00ff00;*/
  font-family: arial,sans-serif;
  text-align: center;
  }
  
#nav {
  text-align: right;
  }
  
#nav li {
  display: inline;
  padding: 0em 1em;
  }

.stepbutton {
  display: block;
  width: 4.5em;
  font-size: 2em;
  color: #fff;
  text-decoration: none;
  background-color: #00d;
  padding: 1.5em 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  border-radius: 1em;
  }

input.stepbutton {
  border: none;
  padding: 1.5em 4.5em;
  }

.stepbutton:hover {
  background-color: #009;
  }
  
a.floatleft {
  display: block;
  float:left;
  margin: 1em;
  }
 
a.floatright {  
  display: block;
  float:right;
  margin: 1em;
  }

form.upload div.field {
  margin-bottom: 1em;
  }

form.upload h2 {
  display: inline;
  margin-right: 1em;
  }
  
p.error {
  color: #f00;
  font-weight: strong;
  }
  
.pairings ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  }

/*Table stylings*/

table {
  width: 100%;
  padding: 20px 0px;
  }

table td:first-child {
  width: 500px;
  }

table tr:nth-child(even) {
  background-color: #eee;
  }

table tr:nth-child(odd) {
  background-color: #fff;
  }
  
table tr.disabled {
  background-color: #fdd;
  }
